.DS_Store
autostart/
autostart/*
local/
local/*
node_modules/
node_modules/*
packages/
packages/*
tmp/
tmp/*
test/fixtures/test-config.json
test/data/repositories/marak-*
test/data/repositories/nodejitsu-*
test/data/repositories/noob-*
test/data/repositories/elijah-*
test/data/repositories/charlie-*
*.log
*.out
config.json
config/cache.json